.backgroundPics {
    position: absolute;
    background-color: #483d8b;
    width: 100%;
    height: 700px;
    top: -100px;
    left: 0;
    z-index: -1;
}

.introText {
    text-align: center;
    color: white;
    margin-top: 100px;
}

.introButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    margin-top: 200px;
}

.knapp {
    border-radius: 5px 0;
    padding: 1rem;
    width: 150px;
    background-color: #87CEEB;
    color: #483d8b;
    margin-bottom: 10px;
}

.knapp:hover {
    transition: 300ms;
    width: 175px;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}