@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.backgroundPics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    background-color: #483d8b;
    width: 100%;
    height: 100%;
    top: -100px;
    left: 0;
    z-index: -1;
}

.backgroundPics img {
    width: 100%;
}

.introPic {
    width: 100px;
}

.introText {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    color: white;
    margin-top: 100px;
}

.introButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    margin-top: 200px;
}

.knapp {
    font-family: "Quicksand", sans-serif;
    border-radius: 5px 0;
    padding: 1rem;
    width: 150px;
    background-color: #87CEEB;
    color: #483d8b;
    margin-bottom: 10px;
}

.knapp:hover {
    transition: 300ms;
    width: 175px;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}